#container{
	margin:12px 48px;
}

#item{
  width:800px;
  padding:0;
  margin-left:0;
  list-style:none;
  background-color:#ddd;
}

#item li{
  display:inline;
}

#item li.selected{
  background-color:#9bbb59;
}

#item li img{
  -khtml-user-drag: element; /*for safari*/
}

#editor{
  background-color:#ddd;
}


